ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgba(247, 4, 4, 0.966);
  }


  table, th, td {
    border: 1px solid rgb(0, 0, 0);
}

img{
    float: right;
}
.button{
    width: 150px;
    height:75px;
    border:none;
    margin:2px;
    cursor:pointer;


}
.textview{
    background-color: transparent;
}