body{
    height: 100%;
    width: 100%;
    background-color: orangered;
}
header{
    background-color: rgba;
    text-align: right;
    padding: 15px;
}
header ul{
    display: inline-block;
}
header li{
    display: inline-block;
    margin-right: 70px;

}

header ul li a{
    text-decoration: none;
    color: black;
}


header p{
    font-size: 18px;
    color: rgb(198, 185, 185);
    margin-left: 20px;
    display: inline;
}